{% extends "quanlyquy/password_reset.html" %}
{% block reset_content %}
    <div style="text-align: center; padding: 20px 0;">
        <div style="width: 80px; height: 80px; background: rgba(99, 102, 241, 0.1); color: var(--primary); border-radius: 50%; display: flex; align-items: center; justify-content: center; margin: 0 auto 20px; font-size: 40px;">
            <i class="fa-solid fa-shield-check"></i>
        </div>
        <h2 id="complete-title">Đổi mật khẩu thành công!</h2>
        <p id="complete-desc" style="margin-bottom: 30px;">Bây giờ bạn có thể đăng nhập vào hệ thống bằng mật khẩu mới vừa tạo.</p>
        <a href="{% url 'login' %}" class="btn-auth" style="text-decoration: none; display: block; text-align: center;"><span id="text-btn-login-now">ĐĂNG NHẬP NGAY</span></a>
    </div>
{% endblock %}